@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply no-underline;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}